<li>
  <%= link_to user.name, user %>
  <% if user.lastlogin? %>
  last update: <%= user.lastlogin.in_time_zone("Eastern Time (US & Canada)").strftime('%m/%d/%Y %I:%M %p') %>
  <% end %>
  <% if user.microposts.any? %>
      Microposts (<%= user.microposts.count %>)
  <% end %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>