<li>
  <%= link_to user.name, user %>
  last update: (<%= user.updated_at.in_time_zone("Eastern Time (US & Canada)") %>)
  <% if user.microposts.any? %>
      Microposts (<%= user.microposts.count %>)
  <% end %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>